.grid-element{
    border: 1px solid black;
    padding: 50px;
}

.grid-container{
    display: grid;
    justify-content: center;
    grid-template-columns: 500px 1200px;
    grid-template-rows: 500px 200px;
    gap: 1rem;
    grid-template-areas: "box-1 box-2"
                         "box-1 box-3";
}

.words{
    display: grid;
    justify-content: center;
    grid-template-columns: 20px 20px 20px 20px 20px;
    grid-template-rows: 20px 20px;
    gap: 5rem;
    grid-template-areas: "word-1 word-2 word-3 word-4 word-5"
                         "word-6 word-7 word-8 word-9 word-10";
    list-style: none;
}

.words-element {
    padding-top: 50px;
    font-size: 20px;
    font-weight: 600;
}
.grid-select {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 80px 80px;
    gap: 1rem;
    justify-content: center;
    grid-template-areas: "button1 button2"
                         "button3 button4";
}

#levels {
    border: none;
}

.level-component {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.level-1 {
    background-color: black;
    color: white;
}